* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height:100vh;
    display: flex;
    background: #060ab2;
}

.memory-game-container {
   
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    display: none;
  }

.game-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }

.game-card:active {
    transform: scale(0.97);
    transition: transform 0.2s;
  }
  
.game-card.flip {
    transform: rotateY(180deg);
  }

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}



.card-front {
    transform: rotateY(180deg);
  }

.player {
  width: 30rem;
  margin: auto;
  padding: 4rem;
  background-color: aliceblue;
  border-radius: .5rem;
}

.player .label {
width: 100%;
margin-bottom: 1rem;
}

.player button {
  width: 100%;
  margin-bottom:  1rem;
  padding: 12px 20px;
}

.player input[type=text] {
  width: 100%;
  margin-bottom:  1rem;
  padding: 12px 20px;
}